node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
client_secret_259799500977-ttom9ovikmfjs3n5ee73sjs4tj6ici5e.apps.googleusercontent.com.json